*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url(images/rows-red-seats-theater.jpg);
    background-size: cover;
}

.container{
    width: 550px;
    margin: auto;
    height: 100vh;
    background-color:  rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inputarea{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    font-size: 23px;
    
}
h1{
    font-size: 50px;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 20px 0px;
    color: red;
}
h3{

    font-family: 'Sriracha', cursive;
    margin-bottom:  20px ;
    color: #fff;
}
#name, #age, #email, #favcontent, #language{
    height: 45px;
    width: 100%;
    padding-left: 15px;
}
.input-text{
    font-family: 'Roboto Condensed', sans-serif;
    color: red;
    font-size: 25px;
}
textarea{
    height: 150px;
}
.submitbutton{
    width: 180px;
    height: 50px;
    border: 1px;
    border-radius: 25px;
    color: #fff;
    background-color: red;
    font-size: 18px;
    
}

.checkbox{
    font-size: 17px;
    color: #fff;
}
.submitbutton:hover{
    background-color: #fff;
    color: red;
    cursor: pointer;
}
.submitbutton-container{
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
}


 
